h1{
background-color:#006400;
font-color: white;
font-size:50px;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
p.fancy{
  color:#000000;
  font-style: oblique;
}
table, th, td {
  border: 2px solid black;
}
body {
  color: #0000FF;
  background-color: #C0C0C0;
}
h2, h3, h4{
  font-family: "Helvetica", "Arial", sans-serif;
 font-weight: strong;
  color: #00008B;
}
ul.nav li{
  display:inline;
  padding:10px;
  width:50px;
}
ul.nav li a{
  display:inline-block;
  padding:10px;
  background-color:#6B8E23;
  color: white;
  text decoration:none;
}
ul.nav li a:hover{
  background color: #32CD32;
}  
.my-img{
  margin:20px 10px;
}
