h1{
background-color:#006400;
color:#fff;
font-size:100px;
}
p.fancy{
  color:#000000;
  font-style: oblique;
}
table, th, td {
  border: 2px solid black;
}
body {
  color: #4169E1;
  background-color: #C0C0C0;
}
h1, h2, h3, h4{
  font-family: "Helvetica", "Arial", sans-serif;
 font-weight: strong
}
ul.nav li{
  display:inline;
  padding:10px;
  width:50px;
}
ul.nav li a{
  display:inline-block;
  padding:10px;
  background-color:#333;
  color: white;
  text decoration:none;
}
ul.nav li a:hover{
  background color: #000;
}  
  
