h1{
background-color:#006600;
color:#fff;
font-size:3em;
}
p.fancy{
  color:#666;
  font-style: oblique;
}
table, th, td {
  border: 1px solid black;
}
body {
  color: #808080;
  background-color: #C0C0C0;
}
